* {
  box-sizing: border-box;
}
.canvasContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 2rem;
  padding: 1rem;
}
.headerImage {
  margin: auto;
  padding: 1em;
  height: 20rem;
  width: 90%;
}
.headerContent {
  display: grid;
  position: relative;
  align-content: center;
  justify-content: center;
  margin: auto;
  z-index: 0;
}
.layer1-img {
  position: absolute;
  z-index: -1;
  align-content: center;
  justify-self: center;
  width: 500px;
}
.form {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;
}
div[id^="font-picker"] .dropdown-button {
  background-color: #fff !important;
}
[type="color"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 0.2em;
  width: 35px;
  background-color: #fff;
  height: 20px;
  border: black;
}
